.friend-list{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.friend-list .item{
    margin-top: 10px;
    width: 250px;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 1px grey;
    border-radius: 15px;
}

.friend-list .item .avatar {
    width: 65px;
    height: 65px;
    border-radius: 10px;
    padding: 0;
    margin: auto;
    margin-right: 0;
    margin-left: 5px;
}

.status{
    padding-left: 10px;
}

.friend-list .item .name {
    margin-left: 5px;
}